.dataTable{
    height: 600px;
    padding: 20px;
    .top{
        width: 100%;
        color: gray;
        font-size: 20px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .link{
            padding: 5px;
            font-size: 16px;
            font-weight: 500;
            text-decoration: none;
            border-radius: 5px;
            border: 1px solid rebeccapurple;
            background-color: rgba(102, 51, 153, 0.15);
            color:rgb(102, 51, 153);
            cursor: pointer;
        }
    }

    .cellWithImg{
        display: flex;
        align-items: center;
        .cellImg{
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }
    .cellWithStatus{
        padding: 5px;
        border-radius: 5px;
        &.active{
            color:rgb(0,255,0);
            background-color: rgba(0,255,0, 0.15);
        }
        &.pending{
            color:rgb(140, 140, 0);
            background-color: rgba(140,140,0, 0.15);
        }
        &.passive{
            color:rgb(255,0,0);
            background-color: rgba(255,0,0, 0.15);
        }
    }

    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: darkblue;
            border: 1px dotted rgba(0,0,139, 0.55);
            cursor: pointer
        }

        .deleteButton{
            padding: 2px 5px;
            border-radius: 5px;
            color: red;
            border: 1px dotted rgba(255,0,0,0.55);
            cursor: pointer

        }
    }
}